* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 130px;
}
.navbar img {
  width: 170px;
  padding: 10px;
}
.navbar .nav-items {
  display: flex;
  gap: 60px;
  color: whitesmoke;
}
.navbar .nav-items a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
}
.navbar button {
  background-color: #111111;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
  text-align: center;
}
.hero h1 {
  font-size: 130px;
  font-weight: 800;
  letter-spacing: -2px;
}
.hero .filter-buttons {
  display: flex;
  gap: 18px;
  padding: 20px;
}
.hero .filter-buttons .button-item {
  background-color: #111111;
  color: whitesmoke;
  padding: 10px 16px;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.hero .filter-buttons .button-item:nth-child(1) {
  background-color: #fc4707;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}
.card-items {
  position: relative;
  height: 500px;
  width: 350px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: #0e0e0e;
  border: none;
  border-radius: 18px;
}
.card-items img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 60%;
  border-radius: 18px 18px 0 0;
}
.card-items .tag{
  position: absolute;
  top: 60%;
  left: 16px;
  padding: 6px 14px;
  background-color: #551C0B;
  width: fit-content;
  border-radius: 14px;
  font-size: 14px;
  color: #CD7551;
}
.card-items .title{
  font-size: 21px;
  font-weight: 500;
  padding: 0 18px;
}
.card-items p{
  color: #747474;
  font-size: 12px;
  padding: 0 18px;
}
